@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --white-primary: rgb(255, 255, 255);
  --white-secondary: rgb(166, 166, 166);
  color: var(--white-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-primary: #4e298f;
  --bg-secondary: #1c2452;

  --orange-primary: #fca445;
  --orange-secondary: #d7601b;

  --red-primary: #fc4545;
  --red-secondary: #d71b1b;

  --teal-primary: #008080;
  --teal-secondary: #014d4d;

}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh !important;
  background: linear-gradient(var(--bg-primary), var(--bg-secondary));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
